.lemon-blob {
  position: fixed;
  top: 0;
  right: 0;
}

.baby-blue-blob {
  position: fixed;
  bottom: 0;
}

.start-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0 1em;
}

.button-primary {
  background: var(--blueDark);
  border: none;
  border-radius: 0.5em;
  color: var(--white);
  font-size: 2rem;
  padding: 0.75em 2.5em;
}

.button-text {
  font-weight: 600;
}
