.yellow-blob {
  position: fixed;
  top: 0;
  right: 0;
}

.blue-blob {
  position: fixed;
  bottom: 0;
  left: 0;
}

.start-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0 1em;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.top-button-container {
  display: flex;
  margin: 0 2em 2em 2em;
  width: 100%;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

button,
.button {
  outline-offset: 5px;
}

.button-primary {
  background: var(--blueDark);
  border: 1.5px solid var(--blueDark);
  border-radius: var(--border-radius);
  color: var(--white);
  font-size: 2rem;
  margin-right: 1em;
  padding: 0.75em 2.5em;
}

.button-secondary {
  background: var(--blueLight);
  border: 1.5px solid var(--blueDark);
  border-radius: var(--border-radius);
  color: var(--blueDark);
  font-size: 2rem;
  padding: 0.75em 2.5em;
}

.bottom-button {
  margin: 0 1em;
}

.button-text {
  font-weight: 600;
}

label.button {
  background-color: var(--bg);
  border: 1.5px solid var(--blueDark);
  border-radius: var(--border-radius);
  font-weight: 600;
  color: var(--blueDark);
  display: inline-block;
  padding: 0.5em 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

input[type='radio'] {
  margin-right: 1em;
}

label.answer-selected {
  background: var(--blueLight);
  border: 1.5px solid var(--blueLight);
}

label.correct-answer {
  background: var(--green) !important;
  border: 1.5px solid var(--green) !important;
}

input[type='radio']:checked + label.selected-wrong-answer {
  background: var(--red);
  border: 1.5px solid var(--red);
}

label.incorrect-answer {
  background: var(--bg);
  border: 1.5px solid var(--blueLight);
}

input[type='radio']:checked + label {
  background: var(--blueLight);
  border: 1.5px solid var(--blueLight);
}

.question-divider {
  border: 0.5px solid #dbdef0;
  margin: 1em 0;
}

.questions-container {
  margin: 3em auto;
  max-width: 900px;
}

.blob {
  z-index: 10;
}

h1,
h2,
p,
span,
label,
input,
button {
  position: relative;
  z-index: 100;
}

@media (max-width: 945px) {
  h1,
  .title {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .button-container {
    flex-direction: column;
  }

  .top-button-container {
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 0;
  }

  .button-container > button,
  .top-button-container > button,
  .button-primary {
    font-size: 1.5rem;
  }

  .button-primary {
    margin-right: 0;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
  }

  .button-secondary {
    margin-right: 0;
    padding: 0.75em 0;
  }

  .bottom-button {
    margin: 0;
    margin-top: 1em;
  }

  fieldset {
    display: flex;
    flex-direction: column;
  }
}
